<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Test natijalari</title>
  </head>
  <body>
    <form method="post" action="/answers">
      <span class="bg-dark">
        <label for="id">ID:</label>
        <input class="input" required type="number" name="id" /><br />
      </span>
      <input class="btn" type="submit" value="Submit" />
    </form>
  </body>
</html>
