* {
  padding: 0;
  margin: 0;
}
body {
  background: #f3f3f3;
}

form {
  font-size: 20px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}

label {
  display: block;
  margin-bottom: 10px;
}
.input {
  border: 1px solid #ccc;
  padding: 10px;
  background: white;
}

.btn {
  border: none;
  padding: 10px;
  background: #f3f3f3;
  cursor: pointer;
  font-size: 20px;
}

.bg-dark {
  background: #333;
}
